.LocalPage {
    min-height: 100vh;
    max-height: max-content;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    background-color: rgb(241, 244, 247);

}

.info-header {
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
}

.container-general {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/corrida-9e963.appspot.com/o/estabelecimento.png?alt=media&token=1d07bb77-26ba-424a-b521-c2635c69734a');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.logo-container img {
    width: 100%;
}

.cartLink {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.726);
    cursor: pointer;
}

.cartLink img {
    width: 100%;
}

.nome-and-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.781);
}

.nome-and-info .title {
    font-size: 26px;
    font-weight: 600;
}

.ver-mais-container {
    width: 100%;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.664);
}

.ver-mais-container span {
    font-size: 12px;
    gap: 3px;
}

.ver-mais-container a {
    color: rgba(0, 0, 0, 0.664);
    font-weight: 600;
    font-size: 12px;
}

.icon-container {
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 100%;
}

.open-time-order {
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 35px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.555);
    gap: 5px;
}

.icon-box {
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box img {
    width: 100%;
}

.excecao1 {
    width: 110% !important;
}

.open-time-order-geral {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.opend {
    color: rgba(98, 146, 25, 0.705);
}

.closed {
    color: rgba(182, 17, 17, 0.774);
}

.order-time a {
    color: rgba(0, 0, 0, 0.5);
}


.items {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.section-name {
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: end;
    padding: 5px 5px;
    font-weight: 600;
    font-size: 20px;
}

.sectionName {
    width: 100%;
    text-align: start;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    font-weight: 600;
}

.title-section {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-bottom: 10px;
    align-items: center;
    gap: 10px;
    color: rgba(0, 0, 0, 0.603);
    
}

.title-section div {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

.title-section div img {
    width: 120%;
    opacity: 0.6;
}

.sectionName {
    width: 100%;
    text-align: start;
    padding: 15px 0 0px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    font-weight: 600;
    position: relative; /* Adicionado */
}

.item-section-options {
    background-color: rgb(255, 255, 255);
    /* margin-top: 20px; */
    width: 100%; 
    z-index: 1;
    display: none; 
}

.sectionName.active .item-section-options {
    display: block;
}

.Promotions{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Promotions button{
    width: 90%;
    height: 35px;

    background-color: rgba(13, 140, 252, 0.664);
    border: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.promotions-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    overflow-x: auto;
    white-space: nowrap; 
    background-color: rgba(13, 140, 252, 0.664);
}

.promotions-box {
    display: inline-flex; /* Use inline-flex para que as promoções sejam exibidas lado a lado */
    gap: 10px;
    padding: 0 20px; /* Espaçamento para os lados */
}

.promocao {
    width: 250px;
    height: 50px;
    background-color: rgba(3, 6, 196, 0.493);
    border-radius: 12px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
}
